.footer {
  border-top: 4px solid #eaeaea;
  font-size: 16px;
}

.footer h4 {
  margin-top: 1rem;
}

.footer a {
  display: inline-block;
  vertical-align: middle;
}

.footer a:not(:first-of-type) {
  margin-left: 1rem;
}
