.main {
  padding: 5rem 0;
}

.welcome,
.desc,
.leaderboard,
.login,
.footer {
  text-align: center;
}

.welcome {
  margin: 0;
  line-height: var(--welcome-thickness);
}

.desc {
  font-size: 1.5rem;
  line-height: var(--desc-thickness);
}

.leaderboard {
  height: 200px;
}

.errors {
  border: 5px dashed crimson;
  background: peachpuff;
  padding: 20px 10px;
  text-align: left;
  margin: 2rem auto;
}

.errors h3 {
  color: darkred;
}

.errors pre {
  white-space: pre-wrap;
}
