.container {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  min-height: 100vh;
}

.main {
  grid-area: main;
  align-self: end;
  padding: 2rem 0 0 0;
}

.header {
  text-align: center;
}

.footer {
  grid-area: footer;
  align-self: end;
  padding-bottom: 1rem;
  background: white;
  border: 0 solid black;
  box-shadow: 0 -3px 30px black;
}

.welcome,
.desc,
.leaderboard,
.login,
.footer {
  text-align: center;
}



.welcome {
  color: white;
  text-shadow: 0 0 1rem black;
}
.desc {
  box-shadow: 0 0 1rem black;
  font-size: 0.8rem;
  margin: 3rem 0;
}

.login {

}

.leaderboard {
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.errors {
  border: 5px dashed crimson;
  background: peachpuff;
  padding: 20px 10px;
  text-align: left;
  margin: 2rem auto;
}

.errors h3 {
  color: darkred;
}

.errors pre {
  white-space: pre-wrap;
}
