.container {
  padding: 0 0.5rem;
}

.main {
  padding: 5rem 0;
}

.welcome,
.desc,
.leaderboard,
.login,
.footer {
  text-align: center;
}

.welcome {
  margin: 0;
  line-height: var(--welcome-thickness);
}

.desc {
  font-size: 1.5rem;
  line-height: var(--desc-thickness);
}

.leaderboard {
  height: 200px;
}
