.container {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 100px;
  margin: 0;
  background-color: midnightblue;
}
.leaderboard {
  width: 100%;
}
.container svg {
  width: 100%;
}
