.section {
  width: 100%;
  max-width: 400px;
  margin: 0 auto !important;
  padding: 1.5rem .8rem;
  background: white;
  box-shadow: 0 0 1rem black;
}
.section form {
  width: 100%;
}
.label {
  width: 100%;
}
.input {
  width: 100%;
  padding: 8px 6px;
  opacity: 1;
  transition-property: opacity, background-color, color, border-color;
  transition-duration: 400ms;
  transition-timing-function: ease;
  font-size: smaller;
}
.input::after {
  transition: box-shadow 400ms ease;
}

.bgContainer {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 6px;
  text-align: center;
  vertical-align: center;
  opacity: 0;
  transition: opacity 600ms ease;
}
